/.idea
node_modules/**

package-lock.json
*.log
/wordpress/wp-content/uploads/
/wordpress/wp-content/upgrade/
/wordpress/wp-content/plugins/hello-dolly/*
wordpress/.htaccess

wp-config.php

/wordpress/license.txt
/wordpress/readme.html
/wordpress/sitemap.xml

