
{
"extends": ["airbnb"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "defaultParams": true,
      "arrowFunctions": true,
      "blockBindings": true,
      "generators": true, 
      "objectLiteralComputedProperties": true,
      "objectLiteralDuplicateProperties": true,
      "objectLiteralShorthandMethods": true,
      "objectLiteralShorthandProperties": true,
      "templateStrings": true, 
      "jsx": true,
      "impliedStrict": true
  }
  },
  "env": {
    "browser": true,     
    "node": true, 
    "es6":true            
  },
  "globals": {
   "_": true,
   "$": true,
   "Modernizr": true
  },
  "plugins":[
      "html",
      "babel",
      "import"
  ],
  "rules": {
    "comma-dangle": [2, "only-multiline"],
    "dot-notation": [2, { "allowKeywords": false }],
    "no-console": [2, { allow: ["log"] }],
    "linebreak-style": 0,
    "eqeqeq": [2, "always"],
    "no-iterator": 2,
    "no-loop-func": 2,
    "no-new-func": 2,
    "no-new": 0,
    "no-param-reassign": 2,
    "radix": 2,
    "wrap-iife": [2, "outside"],
    "no-case-declarations": 2,
    "no-undef": [2, { "typeof": true }],
    "no-unused-expressions": [2, { "allowShortCircuit": true }],
    "no-unused-vars": [2, { "varsIgnorePattern": "^_", argsIgnorePattern": "^_" }],
    "id-length": [2, { "properties": "never","exceptions": ["_", "$"] }],
    "camelcase": 2,
    "new-cap": 2,
    "no-underscore-dangle": 0,
    "brace-style": [2, "1tbs"],
    "newline-per-chained-call": 2,
    "no-whitespace-before-property": 2,
    "comma-style": 2,
    "func-names": [2, "never"],
    "func-style": [2, "expression", { "allowArrowFunctions": true }],
    "indent": [2, 2],
    "no-array-constructor": 2,
    "array-callback-return": 2,
    "array-bracket-spacing": [2, "never"],
    "no-nested-ternary": 2,
    "no-new-object": 2,
    "no-unneeded-ternary": 2,
    "one-var": 2,
    "quote-props": [2, "as-needed"],
    "quotes": [2, "single", { "allowTemplateLiterals": true }],
    "semi": 2,
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, "always"],
    "keyword-spacing": 2,
    "space-in-parens": [2, "never"],
    "space-infix-ops": 2,
    "spaced-comment": [2, "always"],
    "object-curly-spacing": [2, "always", { "arraysInObjects": false, "objectsInObjects": false}],
    "prefer-const": [2, { "destructuring": "any", "ignoreReadBeforeAssign": false }],
    "no-const-assign": 2,
    "generator-star-spacing": [2, { "before": true, "after": false}],
    "no-var": 2,
    "object-shorthand": 2,
    "prefer-template": 2,
    "template-curly-spacing": 2,
    "no-useless-escape": 2,
    "prefer-rest-params": 2,
    "prefer-spread": 2,
    "prefer-arrow-callback": 2,
    "arrow-spacing": [2, { "before": true, "after": true}],
    "arrow-parens": [2, "as-needed", { "requireForBlockBody": true}],
    "arrow-body-style": [2, "as-needed", { "requireReturnForObjectLiteral": true}],
    "no-confusing-arrow": [2, { "allowParens": true}],
    "no-useless-constructor": 2, 
    "no-duplicate-imports": [2, { "includeExports": true}],
    "import/no-mutable-exports": 2,
    "import/prefer-default-export": 2,
    "import/first": 2,
    "import/no-webpack-loader-syntax": 2,
    "eol-last": 2,
    "max-len": [2, 100, { "ignoreComments": true, "ignoreStrings": true, "ignoreTemplateLiterals": true, "ignoreRegExpLiterals": true}],
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }]
  }
}

